*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%) url(./images/pattern-background-desktop.svg) no-repeat;
    background-size: cover;
}
.cart{
    max-width: 375px;
    margin: 150px auto;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart__header-img{
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cart__text{
    margin-top: 30px;
}
.cart__text-title{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
}
.cart__text-descreption{
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}
.cart__price{
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%);
    width: 315px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cart__price-plan{
    margin-left: 15px;
    margin-right: 70px;
    font-size: 15px;
}
.cart__price-plan p{
    font-weight: 700;
}
.cart__price-plan span{
    color: hsl(224, 23%, 55%);
}
.cart__price-change{
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 700;
    transition: .5s;
}
.cart__price-change:hover{
    color: hsl(245, 83%, 68%);
    text-decoration: none;
}
.cart__btns-btn{
    padding: 12px 0;
    display: block;
    width: 315px;
    background: hsl(245, 75%, 52%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 25px;
    box-shadow: 0 10px 10px hsl(224, 23%, 55%);
    transition: .5s;
}
.cart__btns-btn:hover{
    background: hsl(245, 83%, 68%);
}
.cart__btns-cancel{
    display: block;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 30px;
    transition: .5s;
}
.cart__btns-cancel:hover{
   color: #000;
}


@media screen and (max-width: 375px){
    .cart{
        margin-left: 15px;
        margin-right: 15px;
    }
}
    
